<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 250px;
      height: 100%;
      background-color: #1e1e1e;
      transition: all 0.3s ease-in-out;
    }

    .sidebar.hidden {
      transform: translateX(-100%);
    }

    .content {
      transition: all 0.3s ease-in-out;
    }

    .content.full-width {
      margin-left: 0;
    }

    .toggle-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 10px;
      background-color: #f8f9fa;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    @media (max-width: 576px) {
      .sidebar {
        width: 100%;
      }

      .content {
        margin-left: 0;
      }
    }
  </style>d
</head>
<body>
  <div class="sidebar">
    <div class="container" style="background-color: #f8f9fa;"></div>
  </div>
  

  <div class="content">
    <div class="toggle-btn">Button</div>
    <!-- Your page content goes here -->
    <h1><%= title %></h1>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.toggle-btn').click(function() {
        $('.sidebar').toggleClass('hidden');
        // $('.content').toggleClass('full-width');
      });
    });
  </script>
</body>
</html>
