<div class="container mt-5">
    <form method="GET" action="/search" class="form-inline">
      <div class="input-group p-1" id="searchbar">
        <input type="text" class="form-control" placeholder="Search" name="searchQuery">
        <div class="input-group-append">
          <button type="submit" class="btn">
            <img src="images/svg/search.svg" alt="search" width="26" height="26">
          </button>
        </div>
      </div>
    </form>
  </div>