<div class="sidebar container-fluid">
    <div class="container-fluid my-3 mx-2">
      <div class="row">
        <div class="col-6">
          <div class="toggle-btn">
            <img src="images/svg/menu-burger.svg" alt="menu" width="26" height="26">
          </div>
        </div>
        <div class="col-6" style="font-weight: bold; color: #345995; font-size: large;">Logo</div>
      </div>
      <div class="row mt-3" id="menu">
        <div class="row container-fluid" id="section">
          <div class="row container-fluid" id="tabs">
            <div class="tab row container-fluid">
              <img class="col" src="images/svg/calendar-star.svg" alt="calendar-star" width="26" height="26">
              <div class="col-8">Evenimente</div>
            </div>
            <div class="tab row container-fluid">
              <img class="col" src="images/svg/file-invoice.svg" alt="file-invoice" width="26" height="26">
              <div class="col-8">Fise de lucru</div>
            </div>
            <div class="tab row container-fluid">
              <img class="col" src="images/svg/square-root.svg" alt="square-root" width="26" height="26">
              <div class="col-8">Teste</div>
            </div>
            <div class="tab row container-fluid">
              <img class="col" src="images/svg/badge.svg" alt="badge" width="26" height="26">
              <div class="col-8">Concursuri</div>
            </div>
            <hr style="border: 2px solid; border-radius: 10px; margin-top: 0.7rem;">
            <div class="tab row container-fluid">
              <img class="col" src="images/svg/headset.svg" alt="headset" width="26" height="26">
              <div class="col-8">Contact</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>