<a href="#">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h1 class="card-title">Title</h1>
            <p class="card-text">This is a text</p>
        </div>
    </div>
</a>