<!--
    This navbar is used to open and close the sidebar and also have access to different websites.
    Boostrap is needed for full functionality.
-->

<nav class="container-fluid row px-2 py-3 fixed-top" id="navbar">
    <div class="col-2">
        <div class="mx-3">
            <img src="images/svg/menu-burger.svg" alt="menu" width="26" height="26" class="toggle-btn">
        </div>
    </div>
    <div class="col container row text-center">
        <div class="col">Logo</div>
        <div class="col">Logo</div>
        <div class="col">Logo</div>
    </div>
</nav>